<script defer
  src="https://cdn.jsdelivr.net/npm/abcjs@6.6.3/dist/abcjs-basic-min.min.js"
  integrity="sha384-1NMuKXmc3uoL9DgYl4xk4m3wh/VSSJ1jKVsNjFu882heXeNSw4jT87kw5VCA7ELC"
  crossorigin="anonymous">
</script>
<script>
function renderDiagram(source) {
  const code = source.textContent.trim();
  ABCJS.renderAbc(source, code, {
    responsive: "resize",
    selectTypes: false,
    oneSvgPerLine: true,
  });
}

document.addEventListener("DOMContentLoaded", function () {
  document.querySelectorAll("pre.abc").forEach(renderDiagram);
});
</script>
