<link rel="stylesheet" type="text/css"
  href="https://cdn.jsdelivr.net/npm/@drgrice1/tikzjax@1.0.0-beta24/dist/fonts.css"
>
<script defer src="https://cdn.jsdelivr.net/npm/@drgrice1/tikzjax@1.0.0-beta24/dist/tikzjax.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const elements = document.querySelectorAll('.tikz');
    elements.forEach(el => {
      const wrapper = document.createElement('div');
      wrapper.className = 'tikz-container';
      el.parentNode.replaceChild(wrapper, el);
      const script = document.createElement('script');
      script.type = 'text/tikz';
      script.textContent = el.textContent.trim();
      wrapper.appendChild(script);
    });
  })
</script>
<style>
.tikz-container {
  width: fit-content;
  margin: 0 auto 20px auto;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
html[data-theme="dark"] .tikz-container svg {
  filter: invert(1);
}
</style>
